.doc-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 1.28rem;
  height: 3.84rem;
}

.doc-header__title {
  position: relative;
  height: 1.92rem;
  color: #333;
  font-size: 0.85333rem;
  font-weight: bold;
}

.doc-header__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 2.56rem;
  height: 2PX;
  border-radius: 1PX;
  background-color: #6190E8;
}



@charset "UTF-8";

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

.at-article {
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.5;
}

.at-article__h1,
.at-article__h2,
.at-article__h3 {
  color: #333;
  margin: 0 0.64rem;
}

.at-article__h1 {
  margin-top: 0.64rem;
  font-size: 1.024rem;
  line-height: 1.536rem;
}

.at-article__info {
  font-size: 0.59733rem;
  color: #CCC;
  line-height: 0.896rem;
  margin: 0 0.64rem;
}

.at-article__h2 {
  font-size: 0.85333rem;
  line-height: 1.28rem;
  margin-top: 0.64rem;
}

.at-article__h3 {
  font-size: 0.68267rem;
  line-height: 1.024rem;
}

.at-article__p {
  font-size: 0.59733rem;
  color: #666;
  line-height: 0.896rem;
  margin: 0.53333rem 0.64rem 0;
}

.at-article__img {
  width: 14.72rem;
  display: block;
  margin: 0.42667rem auto 0;
  border-radius: 0.08533rem;
}


