@charset "UTF-8";

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

@-webkit-keyframes atRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes atRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.at-toast-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
}

.at-toast .toast-body {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1090;
  padding: 0.512rem 0.68267rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.17067rem;
  min-width: 5.46133rem;
}

.at-toast .toast-body-content__icon {
  line-height: 0;
  text-align: center;
}

.at-toast .toast-body-content__img {
  line-height: 0;
  text-align: center;
}

.at-toast .toast-body-content__img-item {
  width: 2.56rem;
  height: 2.56rem;
}

.at-toast .toast-body-content__info {
  margin-top: 0.384rem;
  color: #FFF;
  line-height: 1.5;
  font-size: 0.59733rem;
  text-align: center;
}

.at-toast .toast-body--text {
  padding: 0.256rem 0.512rem;
  line-height: 1.5;
  min-width: initial;
}

.at-toast .toast-body--text .toast-body-content__info {
  margin-top: 0;
}

.at-toast .toast-body.at-toast-body--custom-image,
.at-toast .toast-body.at-toast-body--success,
.at-toast .toast-body.at-toast-body--error,
.at-toast .toast-body.at-toast-body--loading {
  padding-bottom: 0.36267rem;
}

.at-toast-body--loading .toast-body-content__img-item {
  -webkit-animation: atRotate 1350ms linear infinite;
          animation: atRotate 1350ms linear infinite;
}


@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.at-loading {
  display: inline-block;
  position: relative;
  width: 18PX;
  height: 18PX;
}

.at-loading__ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18PX;
  height: 18PX;
  margin: 1PX;
  border: 1PX solid #fff;
  border-radius: 50%;
  -webkit-animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.at-loading__ring:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.at-loading__ring:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.at-loading__ring:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}


@charset "UTF-8";

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

.at-button {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 0.68267rem;
  height: 1.96267rem;
  color: #333;
  font-size: 0.68267rem;
  line-height: 1.92rem;
  text-align: center;
  border-radius: 0.17067rem;
  border: 1PX solid #C5D9E8;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.at-button:active {
  opacity: 0.6;
}

.at-button--active {
  opacity: 0.6;
}

.at-button--disabled {
  opacity: 0.3;
}

.at-button--disabled:active {
  opacity: 0.3;
}

.at-button--primary {
  background-color: #5c89e4;
  color: #fff;
  border: 1PX solid #5c89e4;
}

.at-button--secondary {
  background-color: #fff;
  color: #5c89e4;
  border: 1PX solid #5c89e4;
}

.at-button__icon {
  margin: 2PX 0.42667rem 0 0.42667rem;
  display: inline-block;
}

.at-button--circle {
  border-radius: 2.13333rem;
  overflow: hidden;
  background-clip: border-box;
}

.at-button__text {
  display: inline;
}

.at-button--small {
  display: inline-block;
  padding: 0 0.34133rem;
  width: auto;
  min-width: 2.13333rem;
  max-width: 15.14667rem;
  height: 1.28rem;
  font-size: 0.59733rem;
  line-height: 1.23733rem;
}


.toast-page .example__body-button {
  display: inline-block;
}


