@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.at-loading {
  display: inline-block;
  position: relative;
  width: 18PX;
  height: 18PX;
}

.at-loading__ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18PX;
  height: 18PX;
  margin: 1PX;
  border: 1PX solid #fff;
  border-radius: 50%;
  -webkit-animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.at-loading__ring:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.at-loading__ring:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.at-loading__ring:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}


@charset "UTF-8";

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

.at-activity-indicator {
  display: -webkit-flex;
  display: flex;
  line-height: 1;
}

.at-activity-indicator--center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.at-activity-indicator__body {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-flex: 0;
  line-height: 0;
}

.at-activity-indicator__content {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-align-self: center;
          align-self: center;
  font-size: 0.59733rem;
  margin-left: 0.512rem;
  color: #999;
}


.doc-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 1.28rem;
  height: 3.84rem;
}

.doc-header__title {
  position: relative;
  height: 1.92rem;
  color: #333;
  font-size: 0.85333rem;
  font-weight: bold;
}

.doc-header__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 2.56rem;
  height: 2PX;
  border-radius: 1PX;
  background-color: #6190E8;
}


@charset "UTF-8";

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

.activity-indicator-page .panel__content .example-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-align: center;
}

.activity-indicator-page .panel__content .example-item--center {
  height: 8rem;
  position: relative;
  background-color: #fafbfc;
  margin-bottom: 0.42667rem;
}

.activity-indicator-page .panel__content .example-item .subitem {
  margin-left: 0.68267rem;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.activity-indicator-page .panel__content .example-item .subitem:first-child {
  margin-left: 0;
}


