@charset "UTF-8";

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

.at-segmented-control {
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 0.17067rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1PX #6190E8 solid;
  border-bottom: 1PX #6190E8 solid;
  border-right: 1PX #6190E8 solid;
  border-left: 1PX #6190E8 solid;
}

.at-segmented-control__item {
  -webkit-flex: 1;
          flex: 1;
  box-sizing: border-box;
  padding: 0.128rem 0.21333rem;
  min-width: 2.56rem;
  min-height: 0.42667rem;
  color: #333;
  font-size: 0.59733rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #FFF;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.at-segmented-control__item + .at-segmented-control__item {
  border-left: 1PX #6190E8 solid;
}

.at-segmented-control--disabled {
  opacity: 0.3;
}


.doc-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 1.28rem;
  height: 3.84rem;
}

.doc-header__title {
  position: relative;
  height: 1.92rem;
  color: #333;
  font-size: 0.85333rem;
  font-weight: bold;
}

.doc-header__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 2.56rem;
  height: 2PX;
  border-radius: 1PX;
  background-color: #6190E8;
}


.tab-content {
  padding: 2.13333rem 1.06667rem;
  font-size: 0.64rem;
  text-align: center;
  background-color: #FAFBFC;
}


