.doc-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 1.28rem;
  height: 3.84rem; }
  .doc-header__title {
    position: relative;
    height: 1.92rem;
    color: #333;
    font-size: 0.85333rem;
    font-weight: bold; }
    .doc-header__title::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 2.56rem;
      height: 2PX;
      border-radius: 1PX;
      background-color: #6190E8; }

.color-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.color-item {
  margin-bottom: 0.85333rem;
  width: 33%;
  text-align: center; }
  .color-item__circle {
    position: relative;
    margin: 0 auto;
    width: 3.2rem;
    height: 3.2rem;
    background: #78A4FA;
    border-radius: 50%; }
    .color-item__circle .inner-circle-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.06667rem;
      margin-top: -1.06667rem;
      width: 2.13333rem;
      height: 2.13333rem;
      background: #fff;
      border-radius: 50%; }
    .color-item__circle .inner-circle-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -0.68267rem;
      margin-top: -0.68267rem;
      width: 1.36533rem;
      height: 1.36533rem;
      border: 0.02133rem solid #78A4FA;
      border-radius: 50%;
      opacity: 0.3; }
  .color-item__info {
    margin-top: 0.42667rem;
    color: #88889C;
    font-size: 0.42667rem;
    text-align: center; }

