@charset "UTF-8";

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Mixins
 */

/* library */

/**
 * 元素居中定位
 */

/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */

/**
 * 通用的遮罩
 */

/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* Flex Item */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 点击态
 */

/**
 * 禁止态
 */

/**
 * Default Theme
 */

/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */

/* The Color of O2Team Brand */

/* Color */

/* Color Palette */

/* Text Color */

/* Link */

/* 背景色 */

/* 边框颜色 */

/* 图标颜色 */

/* Border Radius */

/* 透明度 */

/* Font */

/* Line Height */

/* 水平间距 */

/* 垂直间距 */

/* 图标尺寸 */

/* z-index */

/* timing function */

/**
 * CSS cubic-bezier timing functions
 * http://bourbon.io/docs/#timing-functions
 */

/**
 * 设置placeholder 颜色
 */

.at-noticebar {
  position: relative;
  padding: 0.256rem 0.512rem;
  color: #DE8C17;
  font-size: 0;
  background: #FCF6ED;
}

.at-noticebar__content {
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
}

.at-noticebar__content-icon {
  display: inline-block;
  margin-right: 0.256rem;
  vertical-align: top;
  margin-top: 0.08533rem;
}

.at-noticebar__content-text {
  display: inline;
  font-size: 0.512rem;
}

.at-noticebar__close {
  width: 0.55467rem;
  height: 0.55467rem;
  position: absolute;
  left: 0.512rem;
  top: 50%;
  margin-top: -0.36267rem;
}

.at-noticebar__close + .at-noticebar__content {
  margin-left: 1.06667rem;
}

.at-noticebar--marquee .at-noticebar__content-text {
  height: 0.768rem;
  line-height: 0.768rem;
  overflow: hidden;
  display: block;
}

.at-noticebar--marquee .at-noticebar__content-icon {
  position: absolute;
}

.at-noticebar--marquee .at-noticebar__content-icon + .at-noticebar__content-text {
  margin-left: 0.96rem;
}

.at-noticebar--marquee .at-noticebar__content-inner {
  display: inline-block;
  height: 0.768rem;
  white-space: nowrap;
  -webkit-animation: marquee 1s linear infinite both;
          animation: marquee 1s linear infinite both;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding-left: 100%;
}

.at-noticebar--single.at-noticebar--more .at-noticebar__content-text {
  display: inline-block;
  max-width: 11.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.at-noticebar--single.at-noticebar--more .at-noticebar__content-icon + .at-noticebar__content-text {
  max-width: 10.13333rem;
}

.at-noticebar--more .at-noticebar__content {
  max-width: 11.2rem;
}

.at-noticebar--weapp .at-noticebar__content-inner {
  -webkit-animation: none;
          animation: none;
}

.at-noticebar__more {
  position: absolute;
  right: 0.512rem;
  top: 0.256rem;
  color: #999;
  font-size: 0;
}

.at-noticebar__more .text {
  font-size: 0.512rem;
  line-height: 1.5;
  vertical-align: middle;
}

.at-noticebar__more-icon {
  display: inline-block;
  width: 0.55467rem;
  vertical-align: middle;
  overflow: hidden;
}

@-webkit-keyframes marquee {
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee {
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}


.panel__content .bar-item {
  margin-bottom: 0.42667rem;
}

.panel__content .bar-item:last-child {
  margin-bottom: 0;
}


